@font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/alegreya-sans-v8-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/alegreya-sans-v8-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/alegreya-sans-sc-v7-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inconsolata-v16-latin-regular.woff2") format("woff2");
}
