$pz-color-primary: #fa7850;
$pz-color-secondary: #006e82;
$pz-color-success: #26bf59;
$pz-color-warning: #f0e675;
$pz-color-danger: #aa0a3c;

$pz-black: hsl(189, 8%, 5%);
$pz-black-bis: hsl(189, 8%, 10%);
$pz-black-ter: hsl(189, 8%, 15%);
$pz-grey-darker: hsl(189, 8%, 25%);
$pz-grey-dark: hsl(189, 8%, 40%);
$pz-grey: hsl(189, 8%, 55%);
$pz-grey-light: hsl(189, 8%, 70%);
$pz-grey-lighter: hsl(189, 8%, 80%);
$pz-white-ter: hsl(189, 8%, 90%);
$pz-white-bis: hsl(189, 8%, 95%);
$pz-white: hsl(189, 8%, 100%);

$pz-font-family: "Alegreya Sans", sans-serif;
$pz-font-family-monospace: "Inconsolata", monospace;
$pz-font-family-interface: "Alegreya Sans SC", sans-serif;

$pz-body-size: 16px;

$pz-size-1: 4.214rem;
$pz-size-2: 3.16rem;
$pz-size-3: 2.37rem;
$pz-size-4: 1.778rem;
$pz-size-5: 1.333rem;
$pz-size-6: 1rem;
$pz-size-7: 0.75rem;

$pz-radius-small: 4px;
$pz-radius: 6px;
$pz-radius-large: 8px;
