@import "variables.scss";
@import "~normalize.css/normalize.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";

body {
    font-family: $pz-font-family;
}

@font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/alegreya-sans-v8-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/alegreya-sans-v8-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Alegreya Sans SC";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/alegreya-sans-sc-v7-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/inconsolata-v16-latin-regular.woff2") format("woff2");
}

.pz-navbar.bp3-navbar {
    background-color: #fa7850;
    color: white;

    .pz-navbar-button--active {
        background-color: #f96537;
    }
}

.pz-navbar-button.bp3-button:not([class*="bp3-intent-"]),
.pz-navbar-button .bp3-icon {
    color: white;
    font-family: $pz-font-family-interface;
    font-size: 15px;
    text-transform: lowercase;
}

.pz-navtabs-button.bp3-button,
.pz-navtabs-button.bp3-button:hover {
    font-family: $pz-font-family-interface;
    font-size: 15px;
    text-transform: lowercase;

    &.pz-navtabs-button--active,
    &.pz-navtabs-button--active .bp3-icon {
        color: #006e82;
    }
}

.pz-navtabs {
    display: flex;
    justify-content: center;
    padding: 4px;
}
